<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First project in django</title>
</head>
<body>
  <h1>Hello World! im using django</h1>
  <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla porro eveniet deleniti perspiciatis minima nesciunt tenetur aperiam voluptatibus consectetur voluptates ut harum dicta, molestiae officia dignissimos amet. Reiciendis, iusto in.</h2>
</body>
</html>